# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Build artifacts
build/
dist/

# PyInstaller
*.spec

# Logs
*.log

# IDE settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db